@model IEnumerable<Shop.Models.Car.CarListItem>

@{
    int queueNumber = 0;
}


<div class="h1">
    Cars
</div>
<div class="m-1">
    <a asp-action="add" asp-controller="car" type="submit" class="btn btn-primary">Add</a>
</div>

<form method="post" class="m-1">
    <table class="table table-hove">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Value</th>
                <th scope="col">Color</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                queueNumber += 1;
                <tr>
                    <th scope="row">@queueNumber</th>
                    <td class="">@car.Name</td>
                    <td class="">@car.Description</td>
                    <td class="">@car.Value</td>
                    <td class="">@car.Color</td>
                    <td class="">
                        <a asp-action="edit" asp-controller="car" asp-route-id="@car.Id" class="btn btn-primary">Edit</a>
                        <input asp-action="delete" asp-controller="car" asp-route-id="@car.Id" type="submit" class="btn btn-danger" value="Delete">
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
